.container1{
    display: flex;
    background-color: rgb(237, 237, 237);
  }

  .sidebar{
    background: #19356F;
    color: #fff;
    height: 100vh;
    width: 200px;
  }
  
  .top_section{
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 20px 15px;
    gap: 10px;
  }

  .logo{
    font-size: 18px;
    margin-left: 10px;
  }
  
  .bars{
    display: flex;
    font-size: 20px;
  }
  
  .admin{
    display: flex;
    width: 40px;
    border-radius: 50px;
    /* margin-left: 50px; */
    align-self: center;
  }

  .adminname{
    font-size: 12px;
    text-align: center;
  }

  .posision{
    font-size: 14px;
    text-align: center;
  }
  
  .link{
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
  }
  
  .link:hover{
    background: lightskyblue;
    color: #000;
  }

  .active{
    background: #6593F5;
    color: #000;
  }
  
  .icon{
    font-size: 16px;
  } 
  .link_text{
    font-size: 10px;
  }

  .contents{
    /* padding: 10px; */
    /* padding: 50px; */
    align-items: center;
    justify-content: center !important;
  
  }