.contents{
    /* padding: 10px; */
    /* padding: 50px; */
    align-items: center;
    justify-content: center !important;
  
  }

  .pagetitle{
    padding-left: 70px;
    padding-top: 20px;
   
  }